header {
  display: grid;
  grid-template-areas: "logo form likes";
  place-items: center;
  background-color: #f9f5f3;
  @include tablet {
    grid-template-areas:
      "logo likes"
      "form form";
  }
  .logo {
    grid-area: logo;
    display: grid;
    place-items: center;
    img {
      height: 100px;
    }
  }
  .search-form {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      margin: 30px 0;
    }
    form {
      background-color: white;
      border-radius: 40px;
      display: flex;
      align-items: center;
      overflow: hidden;
      input {
        font-size: 14px;
        padding: 8px 10px;
        width: 300px;
        &::placeholder {
          color: #dad0cc;
        }
      }
      button {
        padding: 10px 30px;
        border-radius: 40px;
        background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
        color: white;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
  .likes {
    grid-area: likes;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    margin-left: 60px;
    i {
      margin-right: 10px;
      &:hover {
        color: gray;
      }
    }
    &:hover > .likes-list {
      visibility: visible;
      opacity: 1;
    }
    .likes-list {
      opacity: 0;
      position: absolute;
      overflow-x: hidden;
      overflow-y: auto;
      bottom: -160px;
      right: 20px;
      background-color: rgb(121, 121, 121);
      min-width: 240px;
      min-height: 140px;
      @include tablet {
        max-width: 240px;
        max-height: 100px;
        bottom: -50px;
        right: 40px;
      }
      padding: 10px;
      border-radius: 20px;
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        border-bottom: 1px solid white;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          @include tablet {
            width: 30px;
            height: 30px;
          }
        }
        p {
          font-size: 15px;
          color: white;
          @include tablet {
            font-size: 13px;
          }
        }
      }
    }
  }
}
