.result {
  display: flex;
  flex-direction: column;
  .title {
    padding: 10px;
    font-size: 25px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.result-link {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  transition: all 0.5s ease;
  &:hover {
    background-color: #f9f5f3;
    transform: translateY(-2px);
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .data {
    h4 {
      color: #fbda61;
      max-width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include laptop {
        max-width: 500px;
      }
      p {
        color: gray;
      }
    }
  }
}
